/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v22-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v22-latin-700.woff2") format("woff2"), url("../fonts/raleway-v22-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v20-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v20-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-700.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-header {
  background-color: #1B2330;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 76px;
}

.site-header__logo-link {
  text-decoration: none;
}

.logo {
  display: block;
  width: 176px;
  height: 52px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  padding: 0;
}

.nav__item ~ .nav__item {
  padding-left: 58px;
}

.nav__link {
  display: block;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: rgb(255, 34, 34);
}

.nav__link:active {
  -webkit-transform: translate(1px, 2px);
      -ms-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}



/* =========== MAIN =============== */


.site-main {
  background-color: #1B2330;
  background-image: url(../img/main-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top 648px;
}

.hero__wrapper {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.hero__img {
  width: 720px;
  height: 534px;
}

.hero__heading {
  margin-top: 36px;
  margin-bottom: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

.hero__text {
  margin-top: 32px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.hero__link {
  display: block;
  width: 280px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 18px;
  background: -o-linear-gradient(297.87deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
          box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border: 1px solid transparent;
  border-radius: 28px;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.hero__link:hover {
  background: rgba(52, 160, 205, 0.2);
  border: 1px solid #34A0CD;
}

.hero__link:active {
  -webkit-transform: translate(1px, 3px);
      -ms-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}

.advantages__list {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 172px;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__item {
  width: 400px;
  text-align: center;
  color: #FFFFFF;
}

.advantages__item:nth-child(1) {
  margin-bottom: 78px;
}

.advantages__item:nth-child(1)::before {
  background-image: url(../img/access.png);
}

.advantages__item:nth-child(2)::before {
  background-image: url(../img/security.png);
}

.advantages__item:nth-child(3)::before {
  background-image: url(../img/real-time.png);
}

.advantages__item:nth-child(4)::before {
  background-image: url(../img/store.png);
}

.advantages__item::before {
  display: block;
  width: 104px;
  height: 104px;
  content: "";
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item-heading {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.advantages__item-text {
  margin-top: 9px;
  margin-bottom: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.how-worked__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1235px;
  margin-left: auto;
  margin-top: 136px;
  margin-right: auto;
}

.how-worked__img {
  width: 615px;
  height: 464px;
}

.how-worked__right-side {
  margin-top: 115px;
  width: 563px;
}

.how-worked__heading {
  width: 450px;
  margin-top: 0;
  margin-bottom: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
}

.how-worked__text {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.how-worked__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #62E0D9;
  width: 166px;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #62E0D9;
  margin-top: 24px;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.how-worked__link:hover {
  opacity: 0.6;
}

.how-worked__link::after {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 6px;
  background-image: url(../img/arrow-right.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quotes {
  margin-top: 179px;
  padding-bottom: 360px;
}

.quotes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 1160px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.quotes__list::before {
  display: block;
  content: "";
  width: 80px;
  height: 100px;
  background-image: url(../img/quote.png);
  background-repeat: no-repeat;
  background-size: 55px 44px;
  background-position: center;
  position: absolute;
  top: -63px;
  left: -23px;
}

.quotes__item {
  width: 360px;
  /* height: 200px; */
  background: #202A3C;
  -webkit-box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
          box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
  border-radius: 4px;
  padding-top: 40px;
  padding-right: 25px;
  padding-bottom: 26px;
  padding-left: 26px;
  z-index: 2;
}

.quotes__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.quotes__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.quotes__avatar {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.quotes__profile-name {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.quotes__profile-position {
  margin: 0;
  margin-top: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 10px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.form__wrapper {
  position: relative;
}

.form__form-box {
  width: 863px;
  position: absolute;
  background: #1B2330;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
  border-radius: 9px;
  padding-top: 41px;
  padding-right: 77px;
  padding-bottom: 41px;
  padding-left: 77px;
  top: -159px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.form__heading {
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.form__text {
  width: 670px;
  margin-top: 16px;
  margin-bottom: 38px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  width: 480px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 38px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
          box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #C0C0C0;
}

.form__input:focus {
  outline: none;
}

.form__btn {
  margin-left: auto;
  width: 200px;
  background: -o-linear-gradient(297.87deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  -webkit-box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
          box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.form__btn:hover {
  background: rgba(52, 160, 205, 0.2);
  border: 1px solid #34A0CD;
}

.form__btn:active {
  -webkit-transform: translate(1px, 3px);
      -ms-transform: translate(1px, 3px);
          transform: translate(1px, 3px);
}

.site-footer {
  background-color: #0B1524;
  padding-top: 203px;
  padding-bottom: 97px;
}

.site-footer__bottom {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.site-footer__address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.site-footer__geo-img {
  margin-top: 5px;
  display: block;
  width: 13px;
  height: 18px;
}

.site-footer__address {
  margin-left: 27px;
  margin-right: 83px;
  width: 339px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.site-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 19px;
  margin-right: 146px;
}

.site-footer__link:hover {
  text-decoration: underline;
}

.site-footer__link:active {
  opacity: 0.5;
}

.site-footer__link-img {
  display: block;
  margin-right: 26px;
}

.site-footer__menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: 80px;
}

.site-footer__menu-link {
  display: block;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 16px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.site-footer__menu-link:hover {
  color: rgb(255, 34, 34);
}

.site-footer__menu-link:active {
  -webkit-transform: translate(1px, 2px);
      -ms-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}

.site-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.site-footer__social-item ~ .site-footer__social-item {
  margin-left: 12px;
}

.site-footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 32px;
  height: 32px;
  border: 1px solid #DFE4F0;
  border-radius: 16px;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.site-footer__social-img {
  display: block;
}

.site-footer__social-link:hover {
  opacity: 0.5;
}
