
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v22-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v22-latin-700.woff2") format("woff2"), url("../fonts/raleway-v22-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v20-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v20-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-header {
  background-color: #1B2330;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 76px;
}

.site-header__logo-link {
  text-decoration: none;
}

.logo {
  display: block;
  width: 176px;
  height: 52px;
}

.nav__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
}

.nav__item ~ .nav__item {
  padding-left: 58px;
}

.nav__link {
  display: block;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: rgb(255, 34, 34);
}

.nav__link:active {
  transform: translate(1px, 2px);
}



/* =========== MAIN =============== */


.site-main {
  background-color: #1B2330;
  background-image: url(../img/main-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top 648px;
}

.hero__wrapper {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.hero__img {
  display: block;
  width: 720px;
  height: 534px;
}

.hero__heading {
  margin-top: 36px;
  margin-bottom: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

.hero__text {
  margin-top: 32px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.hero__link {
  display: block;
  width: 280px;
  height: 56px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 18px;
  background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border: 1px solid transparent;
  border-radius: 28px;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: background 0.5s ease;
}

.hero__link:hover {
  background: rgba(52, 160, 205, 0.2);
  border: 1px solid #34A0CD;
}

.hero__link:active {
  transform: translate(1px, 3px);
}

.advantages__list {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 172px;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__item {
  width: 400px;
  text-align: center;
  color: #FFFFFF;
}

.advantages__item:nth-child(1) {
  margin-bottom: 78px;
}

.advantages__item:nth-child(1)::before {
  background-image: url(../img/access.png);
}

.advantages__item:nth-child(2)::before {
  background-image: url(../img/security.png);
}

.advantages__item:nth-child(3)::before {
  background-image: url(../img/real-time.png);
}

.advantages__item:nth-child(4)::before {
  background-image: url(../img/store.png);
}

.advantages__item::before {
  display: block;
  width: 104px;
  height: 104px;
  content: "";
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item-heading {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.advantages__item-text {
  margin-top: 9px;
  margin-bottom: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.how-worked__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1235px;
  margin-left: auto;
  margin-top: 136px;
  margin-right: auto;
}

.how-worked__img {
  display: block;
  width: 615px;
  height: 464px;
}

.how-worked__right-side {
  margin-top: 115px;
  max-width: 563px;
}

.how-worked__heading {
  width: 450px;
  margin-top: 0;
  margin-bottom: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
}

.how-worked__text {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.how-worked__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #62E0D9;
  width: 166px;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #62E0D9;
  margin-top: 24px;
  transition: opacity 0.3s ease;
}

.how-worked__link:hover {
  opacity: 0.6;
}

.how-worked__link::after {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 6px;
  background-image: url(../img/arrow-right.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quotes {
  margin-top: 179px;
  padding-bottom: 360px;
}

.quotes__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  max-width: 1160px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.quotes__list::before {
  display: block;
  content: "\"";
  width: 80px;
  height: 100px;
  background-image: url(../img/quote.png);
  background-repeat: no-repeat;
  background-size: 55px 44px;
  background-position: center;
  position: absolute;
  top: -63px;
  left: -23px;
}

.quotes__item {
  width: 360px;
  /* height: 200px; */
  background: #202A3C;
  box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
  border-radius: 4px;
  padding-top: 40px;
  padding-right: 25px;
  padding-bottom: 26px;
  padding-left: 26px;
  z-index: 2;
}

.quotes__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.quotes__profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.quotes__avatar {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.quotes__profile-name {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.quotes__profile-position {
  margin: 0;
  margin-top: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 10px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.form__wrapper {
  position: relative;
}

.form__form-box {
  width: 863px;
  position: absolute;
  background: #1B2330;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
  border-radius: 9px;
  padding-top: 41px;
  padding-right: 77px;
  padding-bottom: 41px;
  padding-left: 77px;
  top: -159px;
  left: 50%;
  transform: translate(-50%);
}

.form__heading {
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.form__text {
  width: 670px;
  margin-top: 16px;
  margin-bottom: 38px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.form-container {
  display: flex;
}

.form__input {
  width: 480px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 38px;
  background: #FFFFFF;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #C0C0C0;
}

.form__input:focus {
  outline: none;
}

.form__btn {
  margin-left: auto;
  width: 200px;
  background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  transition: background 0.5s ease;
}

.form__btn:hover {
  background: rgba(52, 160, 205, 0.2);
  border: 1px solid #34A0CD;
}

.form__btn:active {
  transform: translate(1px, 3px);
}

.site-footer {
  background-color: #0B1524;
  padding-top: 203px;
  padding-bottom: 97px;
}

.logo-footer {
  display: block;
  width: 176px;
  height: 52px;
}

.site-footer__bottom {
  margin-top: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.site-footer__address-box {
  display: flex;
  align-items: flex-start;
}

.site-footer__geo-img {
  margin-top: 5px;
  display: block;
  width: 13px;
  height: 18px;
}

.site-footer__address {
  margin-left: 27px;
  margin-right: 83px;
  width: 339px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.site-footer__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 19px;
  margin-right: 146px;
}

.site-footer__link:hover {
  text-decoration: underline;
}

.site-footer__link:active {
  opacity: 0.5;
}

.site-footer__link-img {
  display: block;
  margin-right: 26px;
}

.site-footer__menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: 80px;
}

.site-footer__menu-link {
  display: block;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 16px;
  transition: color 0.3s ease;
}

.site-footer__menu-link:hover {
  color: rgb(255, 34, 34);
}

.site-footer__menu-link:active {
  transform: translate(1px, 2px);
}

.site-footer__social-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.site-footer__social-item ~ .site-footer__social-item {
  margin-left: 12px;
}

.site-footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 32px;
  height: 32px;
  border: 1px solid #DFE4F0;
  border-radius: 16px;
  transition: opacity 0.3s ease;
}

.site-footer__social-img {
  display: block;
}

.site-footer__social-link:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}



/* =======
HEADER
======= */

@media only screen and (max-width: 768px) {
  .site-header__wrapper {
    padding-top: 40px;
    padding-bottom: 48px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 560px) {
  .nav__item ~ .nav__item {
    padding-left: 25px;
  }

  .logo {
    width: 80px;
    height: 24px;
  }

  .nav__link {
    font-size: 12px;
    line-height: 14px;
  }
}

/* =======
MAIN - HERO
======= */

@media only screen and (max-width: 768px) {
  .hero__wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hero__img {
    width: 432px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hero__heading {
    margin-top: 33px;
    font-size: 30px;
    line-height: 45px;
  }
  
  .hero__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 27px;
  }
  
  .hero__link {
    width: 240px;
    height: 48px;
    padding-top: 16px;
    border-radius: 24px;
    font-size: 14px;
    line-height: 16px;
  }
  
}

@media only screen and (max-width: 500px) {

  .hero__img {
    width: 304px;
    height: 225px;
  }
  
  .hero__heading {
    font-size: 24px;
    line-height: 36px;
  }
  
  .hero__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
  }
  
  .hero__link {
    padding-top: 16px;
    border-radius: 24px;
    font-size: 14px;
    line-height: 16px;
  }
  
}

/* =======
MAIN - ADVANTAGES
======= */

@media only screen and (max-width: 1000px) {
  .advantages__list {
    width: 100%;
    margin-top: 131px;
  }
  
  .advantages__item {
    width: 45%;
  }
  
  .advantages__item:nth-child(1), .advantages__item:nth-child(2) {
    margin-bottom: 50px;
  }

}

@media only screen and (max-width: 620px) {
  
  .advantages__item{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 90px;
  }

  .advantages__item:last-child{
    margin-bottom: 0;
  }

}

@media only screen and (max-width: 500px) {

  .advantages__item::before {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
  }

  .advantages__item-heading {
    margin-top: 24px;
    font-size: 18px;
    line-height: 24px;
  }

  .advantages__item-text {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
  }

}

/* =======
MAIN - HOW WORKED
======= */

@media only screen and (max-width: 1300px) {
  
  .how-worked__wrapper {
    align-items: center;
    justify-content: space-around;
  }

  .how-worked__img {
    width: 492px;
    height: 371px;
  }

  .how-worked__right-side {
    margin-top: 0;
  }

}

@media only screen and (max-width: 1120px) {

  .how-worked__right-side {
    max-width: 400px;
  }

}

@media only screen and (max-width: 1050px) {

  .how-worked__img {
    margin-right: 5px;
    width: 369px;
    height: 278px;
  }

  .how-worked__right-side {
    max-width: 350px;
  }

  .how-worked__heading {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
  
  .how-worked__text {
    font-size: 14px;
    line-height: 21px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .how-worked__link {
    width: 130px;
    font-size: 12px;
    line-height: 16px;
  }

}

@media only screen and (max-width: 620px) {
  .how-worked__wrapper {
    flex-direction: column;
    justify-content: center;
    margin-top: 160px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .how-worked__img {
    margin-right: 0;
  }

  .how-worked__right-side {
    max-width: 370px;
  }

  .how-worked__heading {
    margin-top: 48px;
    margin-bottom: 0;
    text-align: center;
  }

  .how-worked__text {
    padding: 0;
  }

  .how-worked__link {
    margin-top: 16px;
  }
}

@media only screen and (max-width: 410px) {
  .how-worked__img {
    width: 304px;
    height: 230px;
  }

  .how-worked__right-side {
    max-width: 320px;
  }
}

/* =======
MAIN - QUOTES
======= */

@media only screen and (max-width: 1200px) {
  .quotes__item {
    width: 32%;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 21px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 900px) {

  .quotes {
    padding-bottom: 300px;
  }

  .quotes__text {
    font-size: 10px;
    line-height: 18px;
  }

  .quotes__list::before {
    width: 35px;
    height: 15px;
    background-size: 32px 15px;
    top: -15px;
    left: 8px;
  }
  
}

@media only screen and (max-width: 620px) {
  .quotes__list {
    flex-wrap: wrap;
    max-width: 450px;
  }

  .quotes__item {
    width: 100%;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 500px) {
  .quotes__list {
    flex-wrap: wrap;
    max-width: 280px;
  }
}

/* =======
MAIN - FORM
======= */

@media only screen and (max-width: 900px) {

  .form__form-box {
    width: 550px;
    padding-top: 38px;
    padding-right: 28px;
    padding-bottom: 38px;
    padding-left: 28px;
  }
  
  .form__text {
    width: 100%;
  }
  
  .form__input {
    width: 340px;
  }
  
  .form__btn {
    width: 150px;
    font-size: 11px;
    line-height: 13px;
  }
}

@media only screen and (max-width: 570px) {
  .form__form-box {
    width: 330px;
    top: -177px;
  }

  .form__heading {
    font-size: 18px;
    line-height: 24px;
  }

  .form__text {
    margin-bottom: 32px;
  }

  .form-container {
    flex-direction: column;
    justify-content: center;
  }

  .form__input {
    width: 280px;
    font-size: 10px;
    line-height: 14px;
  }

  .form__btn {
    margin-left: 0;
    margin-top: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 280px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 350px) {
  .form__form-box {
    width: 300px;
    top: -177px;
  }

  .form__input {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .form__btn {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* =======
FOOTER
======= */

@media only screen and (max-width: 1260px) {
  .site-footer__address {
    width: 280px;
    margin-left: 15px;
    margin-right: 40px;
  }

  .site-footer__link {
    margin-right: 40px;
  }

  .site-footer__menu-list {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 1050px) {
  .site-footer__bottom {
    flex-wrap: wrap;
  }

  .site-footer__address {
    width: 210px;
  }
}

@media only screen and (max-width: 752px) {

  .site-footer__wrapper {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .site-footer__bottom {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .site-footer__address {
    width: 280px;
    margin-right: 0;
    margin-left: 25px;
    margin-bottom: 16px;
  }

  .site-footer__links {
    margin-bottom: 64px;
  }

  .site-footer__link-img {
    margin-right: 15px;
  }
  
  .site-footer__menu-list {
    margin-bottom: 32px;
  }

  .site-footer__social-list {
    margin-right: auto;
    margin-top: 32px;
  }
}

@media only screen and (max-width: 570px) {
  .site-footer {
    padding-top: 250px;
  }
}

@media only screen and (max-width: 350px) {
  .site-footer__address {
    width: 250px;
  }

  .site-footer__wrapper {
    width: 300px;
  }
}


